.title{
	height: 100vh;
   
}
/*.title-a{
	margin-top: 50px;
	
}*/
/*.am-search{
	display: 0;
	margin-top: 8px;
	height: 36px;
}*/
.title>header{
	height: 44px;
	width: 100%;
}


.biao-a{

    height: 50px;

}
.biao-a span{
    float: left;

    font-size: 20px;
}
.biao-a span:last-child{
    line-height: 40px;
}
.biao-a img{
    margin:3px 15px ;
    height: 40px;
    border-radius: 50%;
}
.biao-b{
    height: 100px;

    
}
.biao-b span{
    float: left;
}
.biao-b img{
    height: 80px; 
    width: 150px;
    margin-top: 10px;
    margin-left: 15px;
}
.biao-b span:nth-child(2){
    margin-top: 20px;
    margin-left: 15px;
    font-size: 18px;
}
.biao-b span p{
    margin-top: 5px;
}
.biao-b span p:last-child{
    color: #CDCDB4;
    font-size: 14px;
    
}
.biao-b span:nth-child(3){
    margin-top: 30px;
    margin-left: 40px;
    font-size: 33px;
    color:#A3A3A3;    
}