*{
    margin: 0;
    padding: 0;
}
.active{
    color: red;
}
a{
    text-decoration: none;
    color: black;
}
header{
    height: 44px;
    color: white;
  /*  background: blue;*/
    text-align: center;
    line-height: 44px;
}


    
.index{
    height: 100vh;
    display: flex;
    flex-direction: column;
}
.index div{
    flex: 1;
}
.index footer{
    height: 44px;
    display: flex;
    justify-content: space-around;
    align-items: center;
    background: #ccc;
}
.index footer i{
	margin-left: 6px;
}
